%table.table.centree-mini
  %tr
    = bootstrap_form_for @edition do |f|
      %td
        = f.text_field :nom, hide_label: :true
      %td 
        %button.btn.xs.pull-right
          %span.glyphicon.glyphicon-plus
    %td
      = button_to "Fusionner des editions", fusion_editions_path, method: :get, class: "btn pull-right"
  - @editions.each_with_index do |edition, index|
    -if index%2==0
      %tr
    %td{colspan: 2}
      = link_to edition.nom, edition

%br