:javascript
  $('#livres').dataTable({
    sPaginationType: "full_numbers",
    bJQueryUI: true,
    bProcessing: true,
    bServerSide: true,
    sAjaxSource: $('#livres').data('source')
  })

  $('#livres_length').hide();

= link_to 'Ajouter Livre', new_livre_path
%br
%br

%table.table.table-bordered.small#livres
  %thead
    %tr
      %th Titre
      %th Auteur
      %th Edition
      %th Genre
      %th Emplacement
      %th Parution
      %th Achat
      %th
  %tbody
    


