:javascript
  $(function() {
    /*$("#livres").live("click", function() {
      $.getScript(this.href);
      return false;
    });*/
    $("#search").keyup(function() {
      console.log("lol")
      $.get($("#search").attr("action"), $("#search").serialize(), null, "script");
      return false;
    });
  });
.centree
  %table.table-en-tete{width: "100%"}
    %tr
      %td
        = form_tag(livres_path, :method => "get", class: "navbar-form", id: "search-form") do
          = text_field_tag :search, params[:search], class: "span2", placeholder: "Rechercher un titre"
          %button.btn.xs{type: "submit"}
            %span.glyphicon.glyphicon-search
      %td
        - if user_signed_in?
          = button_to 'Ajouter un Livre', new_livre_path, method: :get, class: "btn pull-right"
  %br
  %br

  %div#livres
    = render 'livres'

