<div class="form-group btn-group" data-toggle="buttons">
  <label class="control-label col-sm-4">
    Genre
  </label>
  <div class="col-sm-2">
    <label class="btn btn-primary active">
      <input type="radio" name="options" id="option1" autocomplete="off" checked> Oui
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="options" id="option2" autocomplete="off"> Non
    </label>
  </div>
</div>