:javascript
  $(document).ready(function() {
    connect();
    function connect(){
      try{

      var socket;
      var host = "ws://37.187.109.118:3041";
        var socket = new WebSocket(host);

            socket.onopen = function(){
               console.log("log in")
               message({class: "info", content: "Connecté !"});
            }

            socket.onmessage = function(msg){
               console.log("message")
               hash = JSON.parse(msg.data)

               message(hash);
            }

            socket.onclose = function(){
               console.log("log out :(")
               message({class: "error", content: "Connexion fermé !"});
            }     

        } catch(exception){
           message('<p>Error'+exception);
        }
    }

    function message(msg){
      $('#infos').append('<span class="message-scan '+msg["class"]+'">'+msg["content"]+'</span></br>');
      $('#infos').stop().animate({
        scrollTop: $("#infos")[0].scrollHeight
      }, 800);

    }
  });

.centree
  %h1 Vos Scans
  %div#infos.centree
  %br
  %br
  %br
